/* Navbar */
nav {
  width: 70%;
  margin: 0 auto 30px;
  padding: 12px;
  display: flex;
  justify-content: space-around;
}

/* Container */
.container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 10px;
}

/* Headings */
h1,
h2 {
  text-align: left;
  color: #333;
}


/* Additional styles for the new elements */
#uploadForm {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: 30px;
}

#uploadForm select,
#uploadForm input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

#uploadForm button {
  /* width: 100%; */
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#uploadForm button:hover {
  background-color: #0056b3;
}

label {
  font-weight: bold;
  text-align: left;
}

#bookList {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#bookList {
  margin-bottom: 20px;
}

#bookList span {
  display: inline-block;
  width: 80%;
}


#bookList h2 {
  margin-bottom: 20px;
}

#bookList table {
  width: 100%;
  border-collapse: collapse;
}

#bookList table,
#bookList th,
#bookList td {
  border: 1px solid #dee2e6;
}

#bookList th,
#bookList td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

#bookList th {
  background-color: #f8f9fa;
}

#bookList button {
  background-color: #28a745;
  width: 100%;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

#bookList button:hover {
  background-color: #218838;
}

#bookList button#delete {
  background-color: red;
}

#bookList button#delete:hover {
  background-color: darkred;
}