<!DOCTYPE html>
<html ng-app="announcementApp">

<head>
    <title>Your College</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.6/ui-bootstrap-tpls.min.js"></script>

    <style>
        .container1 {
            width: fit-content;
            height: auto;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            justify-content: center;
            align-items: center;
        } 

        .table {
            width: 80%;
            margin: 0px auto;
        }
        textarea {
            width: 300px;
            height: 150px;
        }

        input {
            width: 300px;
        }
    </style>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body ng-controller="AnnouncementController">
    <div class="ldheader">
        <div class="logo"><img src="/css/ldlogo.png" style="height: 100px; width: 100px;"></div>
        <div class="ldname">L. D. College of Engineering
            <div class="loc">Ahemedabad, Gujarat, India</div>
        </div>
        <div class="gtu">
            <img src="/css/affilated.jpg" alt="">
        </div>

    </div>
    <nav>
        <a href="/html/index2.html" style="text-decoration: none;">
            <div class="headline">Home</div>
        </a>
        <a href="/html/student_page/Student_announcement.html" style="text-decoration: none;">
            <div class="headline">Announcement</div>
        </a>
        <a href="/html/student_page/Student_physical.html" target="_blank" style="text-decoration: none;">
            <div class="headline phy">PHYResource</div>
        </a>
        <a href="/html/student_page/Student_digir.html" target="_blank" style="text-decoration: none;">
            <div class="headline dig">DigitalResource</div>
        </a>
        <a href="/html/student_page/main_timetable.html" target="_blank" style="text-decoration: none;">
            <div class="headline time">TimeTable</div>
        </a>
    </nav>
    <div class="container">
        <div class="scroll">
            <div class="RightToLeft">
                <p ng-repeat="announcement in announcements">
                    <a href="" ng-click="openModal(announcement)">{{announcement.date | date}} - {{ announcement.title }} //</a>
                </p>
            </div>
        </div>
    </div>
    <div class="container1">
            <button type="button" class="btn btn-primary" ng-click="showAllAnnouncements()">See all</button>

    </div>

    <table class="table" ng-show="showAll">
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="announcement in allAnnouncements">
                <td>{{ announcement.date | date }}</td>
                <td>{{ announcement.title }}</td>
                <td>{{ announcement.description }}</td>
            </tr>
        </tbody>
    </table>

    
   
        

    <script src="/js/app.js"></script>

    <script>
        var app = angular.module('announcementApp', ['ui.bootstrap']);

        app.controller('AnnouncementController', function ($scope, $http, $interval, $uibModal) {
            $scope.announcements = [];
            $scope.announcement = {};
            $scope.showAll = false;
            $scope.allAnnouncements = [];


            $scope.fetchAnnouncements = function () {
                $http.get('/api/announcement').then(function (response) {
                    $scope.announcements = response.data;
                    filterAndAppendAnnouncements();
                }, function (error) {
                    console.error('Error fetching announcements:', error);
                });
            };

            $scope.submitAnnouncement = function () {
                $http.post('/api/announcement', $scope.announcement).then(function (response) {
                    console.log(response.data);
                    $scope.fetchAnnouncements();
                    $scope.announcement = {};
                }, function (error) {
                    console.error('Error saving announcement:', error);
                });
            };

            function filterAndAppendAnnouncements() {
                var now = new Date();
                $scope.announcements = $scope.announcements.filter(function (announcement) {
                    var announcementTime = new Date(announcement.createdAt);
                    announcementTime.setHours(announcementTime.getHours() + announcement.hour);
                    return announcementTime > now;
                });
            }

            $interval(filterAndAppendAnnouncements, 60000); // Check every minute
            $scope.fetchAnnouncements();

            $scope.openModal = function (announcement) {
            $scope.modalAnnouncement = announcement;

            var modalInstance = $uibModal.open({
                templateUrl: 'announcementModal.html',
                scope: $scope
            });

            $scope.closeModal = function () {
                modalInstance.close();
            };
        };
        $scope.showAllAnnouncements = function () {
                $http.get('/api/announcement/all').then(function (response) {
                    $scope.allAnnouncements = response.data;
                    $scope.showAll = true;
                }, function (error) {
                    console.error('Error fetching all announcements:', error);
                });
            };

            $scope.deleteAnnouncement = function (announcementId) {
                if (confirm('Are you sure you want to delete this announcement?')) {
                    $http.delete('/api/announcement/' + announcementId).then(function (response) {
                        console.log('Announcement deleted successfully.');
                        $scope.fetchAnnouncements();
                        $scope.showAllAnnouncements();
                    }, function (error) {
                        console.error('Error deleting announcement:', error);
                    });
                }
            };
        });

        

    </script>

<script type="text/ng-template" id="announcementModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ modalAnnouncement.title }}</h3>
    </div>
    <div class="modal-body">
        <p>{{ modalAnnouncement.description }}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="closeModal()">Close</button>
    </div>
</script>
</body>

</html>